.img_game {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.section-game {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 1rem auto 1rem auto;
}
  
.section-game-content {
    position: relative;
    z-index: 1;
}


.section-challenges {
    margin: 1rem auto 1rem ;
}
  